doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='icon' href='1660840355079.jpg')
  title Baa3
	link(rel="stylesheet" href="../lib/bootstrap.min.css")
	script(src="../lib/bootstrap.min.css")
	link(rel="stylesheet" href="../css/style.css")
	link(rel="stylesheet" href="../../lib/all.css")
  audio(hidden='' autoplay='' loop='')
    source(src="../audio/MUSIC.mp3" type='audio/mpeg')
.animation-wrapper
  .particle.particle-1
  .particle.particle-2
  .particle.particle-3
  .particle.particle-4
.row.no-gutters
  .col-xl-4
    section.main
      a(href='')
        img(src='../img/1656075322891.webp' alt='img' style='object-fit: cover;')
      span Baaa3
      p simple API for you
  .col-lg-8
    header
      nav
        .header_logo
        .header_links
          ul.nav_links
            li.nav_link
              a(href='/qr') GET QR
            li.nav_link
              a(href='https://github.com/GUNTER404') GITHUB
      section.main2
        ul
          li
            a(target='_blank' href='https://wa.me/212660075639')
              i.fab.fa-whatsapp
          li
            a(target='_blank' href='https://instagram.com/virus.js')
              i.fab.fa-instagram